*{
margin: auto;
padding: 0px;
}

body{
    background-color: rgb(196, 203, 209);
    text-align: center;
    padding: 100px;
 
}
nav{
    text-align: left;
}
h1{
    font-size: 100px;
    -webkit-text-stroke: 2px black;
    color: transparent; 
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-size:30px ;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
}
h4{
    text-align: left;
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
img{
    width: 400px;
    height: 400px;
    margin: 50px;
    width: 300px;
}

section{
    
    width: 400px;
    height: 1000px;
    background: rgb(90, 45, 214);
    box-shadow: 10px 5px 5px black;
    display: inline-flex;
    border: 2px solid lavender;
    text-align: center;
    margin: 10px;
    padding: 20px;

}
section:hover{
    width: 800px;
    height: 2000px;
    background: rgb(90, 45, 214);
    box-shadow: 10px 5px 5px black;
    display: inline-flex;
    border: 2px solid lavender;
    text-align: center;
    margin: 10px;
    padding: 20px;
    font-size: large;
    -webkit-transform-origin-x: 50%;
    box-shadow: 10px 5px 5px rgb(255, 230, 0);

}
h2:hover{
    font-size: 100px;
}
h4:hover{
    font-size: 100px;
}
p:hover{
    font-size: 100px;
}
img:hover{
    width: auto;
    height: 900px;
    font-size: large;
}
aside{
    padding: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}
aside:active{
    font-size: 100px;
}
h4{
    margin-bottom: 30px;
    text-align: center;
}